/* Custom Hover Effects and Transitions for MainPage Components */

.deck-button-hover-effect:hover:not(.selected) {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.deck-edit-btn:hover {
    opacity: 1 !important;
}

.deck-play-btn:hover {
    transform: scale(1.2);
}

.title-bar-help-btn:hover {
    opacity: 0.7;
}