.flash-card-container {
  perspective: 1000px;
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.flash-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flash-card.flipped {
  transform: rotateY(180deg);
}

.flash-card-front,
.flash-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Custom Scrollbar for FlashCards */
.flash-card-front::-webkit-scrollbar,
.flash-card-back::-webkit-scrollbar {
  width: 6px;
}

.flash-card-front::-webkit-scrollbar-track,
.flash-card-back::-webkit-scrollbar-track {
  background: transparent;
}

.flash-card-front::-webkit-scrollbar-thumb,
.flash-card-back::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.flash-card-front:hover::-webkit-scrollbar-thumb,
.flash-card-back:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.flash-card-back {
  transform: rotateY(180deg);
}